// Bootstrap Functions
@import "dashboard/bootstrap/functions";

// Custom Variables
@import "dashboard/custom/variables";

// Theme Variables
@import "dashboard/variables";

// Bootstrap Core
@import "dashboard/bootstrap/bootstrap";

// Theme Core
@import "dashboard/theme";

// Custom Variables
@import "dashboard/custom/styles";

.table-row-w400 {
    max-width: 400px;
    white-space: normal;
    p {
        white-space: normal;
    }
}
